@{
    ViewData["Title"] = "Home Page";
}

<h2>@await Component.InvokeAsync("Header")</h2>
<div><vc:time></vc:time></div>
<div><vc:timer /></div>
<div><vc:time-with-attribute /></div>
<div>@await Component.InvokeAsync("TimeWithAttribute")</div>